

/*posts all*/
.post{display: list-item;
padding: 15px 0;
background: #fff;
border-bottom:solid 1px #edeff0;
border-top: none;
margin-left: -3px;
color: #b2bac2;
}

#author-profile{margin:30px 30px 20px; padding-bottom:20px; border-bottom:1px solid #CCC;}
#author-profile:before,#author-profile:after{ content:""; display:table;}
#author-profile .author-profile-photo{width:60px; height:60px; float:left; border:2px solid #fff; border-radius:9999px;}
#author-profile .author-profile-photo img{width:60px; height:60px; border-radius:9999px;}
#author-profile .author-profile-content{ margin-top:18px; padding-left:80px;}
#author-profile .author-profile-content .title{margin:0; color:#000; line-height:1.2; font-size:20px;}
#author-profile .author-profile-content .subtitle{margin:0; color:#000; line-height:1.3; padding-top:5px;}


/*gotoTop*/
#gotoTop {width: 60px;height: 100px;position: fixed; right: 15px; bottom: 15px;-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;-o-transition: opacity .4s ease-in-out;opacity: 1;z-index: 1000;
	display: ;
}
#gotoTop .off {
	opacity: 0;
	visibility: hidden;
}
#elevator {display: block;width: 60px;height: 50px;background: url(../img/icon_top.png) center center no-repeat;
	background-color: #444;background-color: rgba(0,0,0,.6);border-radius: 2px;box-shadow: 0 1px 3px rgba(0,0,0,.2);
	cursor: pointer;margin-bottom: 10px
}
#elevator:hover {
	background-color: rgba(0,0,0,.7)
}
#elevator:active {
	background-color: rgba(0,0,0,.75)
}
#gotoTop .qr {
	display: block;
	width: 60px;
	height: 40px;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	cursor: pointer;
	background: url(../img/icon_code.png) center center no-repeat;
	background-color: #444;
	background-color: rgba(0,0,0,.6)
}
#gotoTop .qr:hover {
	background-color: rgba(0,0,0,.7)
}
#gotoTop .qr:active {
	background-color: rgba(0,0,0,.75)
}
#gotoTop .qr-popup {
	width: 170px;
	height: 200px;
	background: #fff;
	box-shadow: 0 1px 8px rgba(0,0,0,.1);
	position: absolute;
	left: -180px;
	bottom: 0;
	border-radius: 2px;
	display: none;
	text-align: center
}
#gotoTop .qr-popup .code-link {
	display: block;
	margin: 10px;
	color: #777
}
#gotoTop .qr-popup .code {
	display: block;
	margin-bottom: 10px
}
#gotoTop .qr-popup .arr {
	width: 6px;
	height: 11px;
	background: url(../img/code_arrow.png) 0 0 no-repeat;
	position: absolute;
	right: -6px;
	bottom: 14px
}